.profile-card {
  width: 70%;
  height: auto;
  background-color: #343950;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-photo {
  width: 100px;
  height: 100px;
  /* object-fit: contain; */
  border-radius: 50%;
  border: 2px solid #cacaca;
  padding: 0px;
  position: relative;
  /* left: 45%; */
}
.profile-about {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  padding: 0.5rem;
}
.profile-name {
  color: whitesmoke;
  position: relative;
  /* left: 42%; */
  padding: 1rem;
}
.teach-subjects {
  color: whitesmoke;
}
